* {
  box-sizing: border-box;
}

body {
  font-family: 'Comic Neue', cursive;
}

button {
  height: 30px;
  border-radius: 5px;
  border: none;
}

input {
  border-radius: 5px;
  border: 1px solid grey;
  height: 30px;
}

#toggleListButton {
  background-color: #FFC300;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

#changeDescriptionButton,
#addItemButton {
  background-color: #FF5733;
  color: white;
}

#removeItemButton {
  background-color: #581845;
  color: white;
}
